.app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.app-sidebar {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
    margin: 1em 0em;
    padding: 0em 2em;
}

.app-sidebar__title {
    font-size: 1.5em;
    color: #bebec4b2;
    text-align: center;
    padding: 0.6em 0;
}

.app-sidebar__widget {
    margin-bottom: 1em;
}

.app-field__label {
    display: block;
    font-size: 1em;
    margin-bottom: 0.6em;
}

.app-field__select {
    width: 100%;
    padding: 1em;
    background-color: #2b3380;
    border-radius: 6px;
    border: none;
    color: rgba(255, 255, 255, 0.692);
    font-size: 16px;
    -ms-user-select: none;
    user-select: none;
}

.app-field__option:active {
    background-color: red !important;
    border: none;

}


.app-letter {
    display: flex;
    flex-direction: column;
    padding: 5px 8px;
    width: 70px;
    height: 65px;
    background-color: #1a1d3a;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.2s ease, color 0.2s ease;
    -ms-user-select: none;
    user-select: none;

}

.not-active {
    cursor: not-allowed;
}

.not-pointer {
    pointer-events: none;
}


.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.app-letter__main {
    text-align: center;
}

.app-letter__footer {
    display: flex;
    font-size: 0.7em;
}


.highlight {
    background-color: #4356d6;
    color: #fff;
}

.app-table__header {
    background-color: #2b3060;
    font-size: 1em;
    padding: 6px 6px;
    cursor: pointer;
    -ms-user-select: none;
    user-select: none;
}

.app-page {
    flex: 1;
    padding: 1em 0em;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.app-page__content {
    padding: 0em 1em;
}

.app-page__content table td {
    border: none;
}

/* -------------------------- */
.app-trainmenu {

    padding: 20px 0px;
}

.app-trainmenu span {
    padding-bottom: 40px;
}


.app-trainmenu div {
    margin-bottom: 20px;
    border-bottom: 2px solid #3d4698;
    padding: 20px 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    -ms-user-select: none;
    user-select: none;
}

.app-trainmenu div:hover {
    border: none;
    background: #4356d6;
    color: white;
    border-radius: 6px;
}

.level-active {
    border: none;
    background: #4356d6;
    border-radius: 6px;
    color: white;

}

.btn-train {
    margin-top: 20px;
    height: 50px;
    background: #4356d6;
    border: none;
    font-size: 20px;
    color: #ffffffff;
    border-radius: 6px;
    cursor: pointer;
}

.btn-train:disabled {
    color: rgba(255, 255, 255, 0.49);
    background: #4357d67d;
    cursor: not-allowed;
}

.app-train {
    border: 1px white solid;
    margin: 0.1em 0em;
    padding: 0 1em;
    height: 70%;
    width: 100%;

}

@media screen and (max-width: 1280px) {
    .app {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .app-page {
        flex-direction: column;
    }

    .app-page__content {
        padding: 0em 0em;
    }
}

@media screen and (max-width: 555px) {
    .app {
        flex-direction: column;
    }

    .app-page__content {
        width: 80%;
    }

    .app-letter {
        width: 55px;
        height: 65px;
    }
}