.sentence {
    font-size: 30px;
    color: #b6acac;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.train-2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.train2-title {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff76;
    width: 30%;
    -ms-user-select: none;
    user-select: none;
    justify-self: center;
    align-self: center;
}

.normal {
    color: #b6acac;
}

.correct {
    color: #17a98a;
}

.incorrect {
    color: #e85471;
}

.input-romaji {
    margin-top: 40px;
}

.input-romaji label {
    font-size: 20px;
    -ms-user-select: none;
    user-select: none;
}

.input-romaji input {
    border: none;
    background: transparent;
    color: #d6c9c9;
    font-size: 25px;
    border-bottom: 2px solid #ffffff5d;
    padding: 10px 10px;
    width: 100%;
    margin: 20px 0px;
}

.rules {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    color: #d6c9c9a3;
}

.rules li {
    margin: 20px 20px;
    padding: 0px 10px;
}