<div class="train-2">
    <p class="train2-title">Let's training</p>
    <div class="train2-content">
        <div class="sentence">
            <span *ngFor="let word of sentenses"
                [ngClass]="{'normal': word.status === 'none', 'correct' : word.status === 'true', 'incorrect' : word.status === 'false' }">
                {{word.letter}} </span>
        </div>
        <div class="input-romaji">
            <label for="romaji">Answer</label>
            <input name="romaji" [(ngModel)]="textAnswers" type="text" (input)="onInputChanged()" [value]="textAnswers">
        </div>
    </div>

    <ul class="rules">
        <li>
            We'll randomly shuffle the letters you chosen in hiragana alphabet into 1 long sentence.
        </li>
        <li>
            You need to write a similar sentence in romaji type.
        </li>
        <li>
            You must write a romaji sentence with space-separated romaji letters.
        </li>
        <li style="color: #e85471; font-weight: 700;">
            Add a space at the end of your answer to complete it. <sup>*</sup>
        </li>
    </ul>
</div>